In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 1. pandas 介绍
1.1 Pandas处理以下三个数据结构，这些数据结构构建在Numpy数组之上，这意味着它们很快。 
- 系列(Series)
- 数据帧(DataFrame)
- 面板(Panel)

# 2. Series和dataframe
## 2.1 series
- 它由一组数据（各种NumPy数据类型）以及一组与之相关的数据标签（即索引index）组成。  
- Series的**字符串表现形式**为：索引在左边，值在右边。如果没有为数据指定索引会自动创建一个0到N-1（N为长度）的整数型索引。
- Series看成是一个定长的有序字典

所有Pandas数据结构是**值可变的**(可以更改)，除了Series(系列)都是大小可变的。Series是大小不变的。  
  
### 2.1.1 用list和dict创建Series

In [2]:
# 通过list 创建一个含有对各个数据点进行标记的index 的 Series
print('-----------------通过list创建--------------')
obj = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
print(obj)
print('\nobj.index:',obj.index)
print('\nobj.values:',obj.values)

# 通过字典创建Series
print('\n-------------通过字典创建Series------------')
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj2 = pd.Series(sdata)
print(obj2)

# index参数：通过传入排过序的字典key 改变Series顺序
print('\nindex参数：通过传入排过序的字典key 改变Series顺序\n')
s_index = ['California', 'Ohio', 'Oregon', 'Texas']
obj3 = pd.Series(sdata,index=s_index)
print(obj3)

-----------------通过list创建--------------
d    4
b    7
a   -5
c    3
dtype: int64

obj.index: Index(['d', 'b', 'a', 'c'], dtype='object')

obj.values: [ 4  7 -5  3]

-------------通过字典创建Series------------
Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

index参数：通过传入排过序的字典key 改变Series顺序

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

### 2.1.2 用index选取Series中的值并进行修改

In [3]:
print('obj[\'a\']=',obj['a'])
print()

obj['a']=2222

# 用列表进行多值索引
print('obj[[\'a\',\'b\',\'c\']] =')
print(obj[['a','b','c']])

obj['a']= -5

obj[['a','b','c']] =
a    2222
b       7
c       3
dtype: int64

### 2.1.3 修改index

In [4]:
print(obj)
print()
# 直接赋值进行修改
obj.index = ['aa','bb','c','d']

print(obj)

d       4
b       7
a    2222
c       3
dtype: int64

aa       4
bb       7
c     2222
d        3
dtype: int64

### 2.1.4 Series的运算
以下是数值计算及逻辑计算，它能够根据index自动对齐。

In [5]:
print('obj[obj>0]=')
print(obj[obj>0])
print()

print('obj*2=')
print(obj*2)
print()

print('np.exp(obj)=')
print(np.exp(obj))

obj[obj>0]=
aa       4
bb       7
c     2222
d        3
dtype: int64

obj*2=
aa       8
bb      14
c     4444
d        6
dtype: int64

np.exp(obj)=
aa      54.598150
bb    1096.633158
c             inf
d       20.085537
dtype: float64

In [6]:
print(obj2)
print()
print(obj3)
print()

print(obj2+obj3)

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

## 2.2 DataFrame  
DataFrame是一个表格型的数据结构，它包含有**一组**有序的**列**，每列可以是不同的值类型（数值，字符串，布尔值等）。  
it can be thought of as a dict of Series all sharing the same index.  
### 2.2.1 创建一个DataFrame
最常用的方法是传入 a dict of equal-length lists or NumPy arrays

In [7]:
# 直接传入一个由 等长的 列表或NumPy数组 组成的字典
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
df = pd.DataFrame(data)
print(df)
print()

df1 = pd.DataFrame(np.arange(12).reshape((3,4)))
print("pd.DataFrame(np.arange(12).reshape((3,4))):")
print(df1)

print("--"*16)
print('\n创建时指定列的顺序及index:')

# 创建时指定列的顺序及index
print(pd.DataFrame(data,columns=['year','state','pop'],index=['one', 'two', 'three', 'four','five', 'six']))

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

pd.DataFrame(np.arange(12).reshape((3,4))):
   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11
--------------------------------

创建时指定列的顺序及index:
       year   state  pop
one    2000    Ohio  1.5
two    2001    Ohio  1.7
three  2002    Ohio  3.6
four   2001  Nevada  2.4
five   2002  Nevada  2.9
six    2003  Nevada  3.2

### 2.2.2 查看一个DataFrame
- head方法:对于特别大的DataFrame，head方法会选取前五行
- 类似字典属性：A column in a DataFrame can be retrieved as a Series
- loc属性：获取行
- columns属性：获取表头

In [8]:
#head 方法
print(df.head())
print('--'*20)

# 将DataFrame的列获取为一个Series：
print('df[\'state\']:')
print(df['state'])
print()

# frame2[column]适用于任何列的名， 但是frame2.column只有在列名是一个合理的Python变量名时才适用。
print('df.state:')
print(df.state)

print('--'*20)
print('df.loc[2]:')
print(df.loc[2])

print('--'*20)
print('df.columns:')
print(df.columns)

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
----------------------------------------
df['state']:
0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
5    Nevada
Name: state, dtype: object

df.state:
0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
5    Nevada
Name: state, dtype: object
----------------------------------------
df.loc[2]:
state    Ohio
year     2002
pop       3.6
Name: 2, dtype: object
----------------------------------------
df.columns:
Index(['state', 'year', 'pop'], dtype='object')

### 2.2.3 对DataFrame进行操作
- 对列赋值
    - 将列表或数组赋值给**某个列**时， 其长度必须跟DataFrame的长度相匹配
    - 用Series进行赋值，则会**精确匹配DataFrame的index**，**所有空位都会被填上缺失值**
    - 为不存在的列赋值会创建出一个新列。
- 删除列

In [9]:
print(df)
print()

df['pop'] = np.arange(6)
print('df[\'pop\'] = np.arange(6):')
print(df)
print('--'*20)

val = pd.Series([-1.2, -1.5, -1.7],index=[3,1,2])
df['pop'] = val
print('df[\'pop\'] = Series:')
print(df)
print('--'*20)

# 为不存在的列赋值会创建出一个新列。
df['to_be_del'] = (df.state=='Ohio')
print(df)

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

df['pop'] = np.arange(6):
    state  year  pop
0    Ohio  2000    0
1    Ohio  2001    1
2    Ohio  2002    2
3  Nevada  2001    3
4  Nevada  2002    4
5  Nevada  2003    5
----------------------------------------
df['pop'] = Series:
    state  year  pop
0    Ohio  2000  NaN
1    Ohio  2001 -1.5
2    Ohio  2002 -1.7
3  Nevada  2001 -1.2
4  Nevada  2002  NaN
5  Nevada  2003  NaN
----------------------------------------
    state  year  pop  to_be_del
0    Ohio  2000  NaN       True
1    Ohio  2001 -1.5       True
2    Ohio  2002 -1.7       True
3  Nevada  2001 -1.2      False
4  Nevada  2002  NaN      False
5  Nevada  2003  NaN      False

In [10]:
# del方法用来删除列：
del df['to_be_del']
print(df.columns)

Index(['state', 'year', 'pop'], dtype='object')

In [11]:

# dates = pd.date_range('20160101',periods=6)
# print("dates作为行索引，columns作为列索引：")
# df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=['a','b','c','d'])
# print(df) 
# print()

print("按列指定DataFrame的值")
df2 = pd.DataFrame(
                    {
                    'A' : 1,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo'
                    }
                  )                
print(df2)

按列指定DataFrame的值
   A          B    C  D      E    F
0  1 2013-01-02  1.0  3   test  foo
1  1 2013-01-02  1.0  3  train  foo
2  1 2013-01-02  1.0  3   test  foo
3  1 2013-01-02  1.0  3  train  foo

# 3. pandas中的函数
## 3.1 isnull 和 notnull 函数 以及 Series的实例方法
用于检检测缺失数据

In [12]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
states = ['California', 'Ohio', 'Oregon', 'Texas']
temp = pd.Series(sdata,index=states)
print(temp)
print()

print(pd.isnull(temp))
print()

print(temp.isnull())
print()

print(pd.notnull(temp))

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool